<div class="background">
    <div class="right-container">
        <div class="profile-container">
            <img src="assets/meliodas.jpg" alt="usuario">
            <div>
                <p>Nombre </p>
                <p>Correo</p>
            </div>
        </div>
        <div class="menu_items-container">
            <ul>
                <li>home</li>
                <li>demas cosas</li>
            </ul>
        </div>
    </div>

    <div class="left-container">
        <section class="main">
            <input class="input" type="text" placeholder="Buscar...">
        </section>
        <h2>Billboard topchart</h2>

        <section class="carousel">
            <div class="carousel-container">
                <div class="carousel-item">
                    <img class="carousel-item__img" src="assets/3988.jpg" alt="">
                    <div class="carousel-item_animate"></div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-item__img" src="assets/3988.jpg" alt="">
                    <div class="carousel-item_animate">
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-item__img" src="assets/3988.jpg" alt="">
                    <div class="carousel-item_animate"></div>
                </div>
            
            </div>
        </section>
        <section class="bottom-list">
            <!-- Aqui van 2 secciones en flex para la parte de abajo, la deracha tiene la lita y la izquierda las acciones-->
            <ul>

            </ul>
        </section>

    </div>
</div>
